.player-avatar-generic {
    background: url('../../images/player_avatar_generic.png');
    background-size: 100%;
    height: 88px;
    width: 88px;
}

.player-winner-splash {
    background: url('../../images/player_win_splash.png');
    background-size: 100%;
    height: 515px;
    width: 762px;
}