{% block footer %}
  <footer class="pt-4 my-md-5 pt-md-5 border-top">

  <!-- Winner Splash -->
  <div class="modal bd-example-modal-lg" id="player_winner_splash">
    <div class="modal-dialog modal-lg">
      <div class="modal-content p-3 m-5">
        <h1 class="p-3 m-auto text-center">YOU WIN</h1>
        <div class="player-winner-splash"></div>
      </div>
    </div>
  </div>

  </footer>
{% endblock %}