{% extends 'base.html.twig' %}

{% block body %}


  {% set username = (app.user ? app.user.username : 'Guest guesser') %}

  <main>

    <div id="players_row" class="row row-cols-1 row-cols-md-3 mb-3 text-center"></div>

  </main>
{% endblock %}